<form class="example-form" (ngSubmit)="onSubmit(f)" #f="ngForm">
  <mat-form-field class="example-full-width">
    <mat-label>Leave a comment</mat-label>
    <textarea matInput placeholder="Comment..."
           type="text"
           name="name"
           id="id"
              ngModel></textarea>
  </mat-form-field>
  <button mat-button color="primary" class="add" type="submit" >Add Comment</button>

<!--  <mat-card *ngFor="let comment of comments">{{comment.name}}</mat-card>-->
</form>
<div>
  <ul class="comments-list mt-3" >
    <li style="border-bottom: 1px grey dotted; margin-bottom: 50px;margin-top: 20px;list-style-type: none" *ngFor="let comment of getFilteredComments(articleId);let i = index">

      {{comment.content}}
      <button mat-button color="primary" (click)="onStore()">Store comment</button>
      <br>
  </ul>
</div>






